html {
    font-family: "Jost", sans-serif;
    font-size: 22px;
}

* {
    box-sizing: border-box;
    font-weight: 400;
}

.button-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 71px;
    margin-left: 120px;
    margin-top: 35px;
    background-color: #292F36;
    border-radius: 18px;

    color: #ffffff;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.7200000286102295px;
    text-align: left;
    padding-left: 34px;

}

.group1 {
    margin-left: 21px;
}

.button-arrow-round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-left: 120px;
    margin-top: 35px;
    border: none;
}

.arrow {
    height: 13.371439933776855px;
    width: 5.942860126495361px;

}

.button-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 71px;
    background: #CDA274;
    margin-left: 120px;
    margin-top: 35px;
    border-radius: 2px solid;
    border: none;
    box-shadow: 1px 0px 18px 0px #00000033;
    border-radius: 18px;


    color: white;
    margin-right: 34px;
    margin-top: 21px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.2199999988079071px;
    text-align: center;

}

.group2 {
    margin-left: 27px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    height: 475px;
    margin-top: 120px;
    background-color:  #F4F0EC;
   
  }
  
  .number-twelve {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  auto;
    font-family: DM Serif Display;
    font-size: 85px;
    font-weight: 400;
    line-height: 128px;
    letter-spacing: 1.71px;
    text-align: center;
    color:#CDA274 ;
  
  }
  .text1 {
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.2199999988079071px;
    text-align: center;
    color: #4d5053;
  }
  .dash1 {
    display: flex;
   
   
  }
  .number-five {
    font-family: DM Serif Display;
    font-size: 85px;
    font-weight: 400;
    line-height: 128px;
    letter-spacing: 1.7000000476837158px;
    text-align: center;
    color:#CDA274 ;
    
  }
  .text2 {
   
    padding-top: 10px;
    height: 33px;
    width: 153px;
    left: 57px;
    top: 152px;
    font-family: "Jost";
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: center;
    color: #4d5053;
  }
  .number-one {
    display: flex;
    font-family: DM Serif Display;
    font-size: 85px;
    font-weight: 400;
    line-height: 128px;
    letter-spacing: 1.7000000476837158px;
    text-align: center;
    color:#CDA274 ;
  
  }
  
  .text3 {
    
    padding-top: 10px;
    height: 33px;
    width: 137px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: center;
    color: #4d5053;
  }
  .number-four {
  font-family: DM Serif Display;
  font-size: 85px;
  font-weight: 400;
  line-height: 128px;
  letter-spacing: 1.7000000476837158px;
  text-align: center;
  color:#CDA274 ;
   
  }
  .text4 {
    
    padding-top: 10px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: center;
    color: #4d5053;
  }
.container-for-wanna{
    display: flex;
    width: 1200px;
    height: 414px;
    background-color: #292f36;
    margin:0 auto;
    margin-top: 148px;
    margin-bottom: 129px;
    border-radius: 70px;
}
.title-wanna {
    display: flex;
   margin-left: 333px;
    justify-content: center;
    align-items: center;
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.22px;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
}
.text-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 371px;
    margin-left: 415px ;
   color: #FFFFFF;
    padding-bottom: 31px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: center;
    padding-top: 9px;
    
  }
  .button-light-wanna {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 241px;
    height: 71px;
    background: #cda274;
    margin-left: 474px;
    border-radius: 2px solid;
    border: none;
    box-shadow: 1px 0px 18px 0px #00000033;
    border-radius: 18px;
  }
  .text-buttonlight-wanna {
    color: white;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.21px;
    text-align: center;
  }
  .container1 {
    display: flex;
    height: 374px;
    width: 393.359375px;
  }
  .photo1 {
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-top: 130px;
  }

  .container-for-interno {
    display: flex;
    justify-content: center;
    height: 374px;
    width: 393px;
  }
  .photo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 30px;
    
  }
  
  .text-architect {
    display: flex;
    margin-left: 120px;
    height: 66px;
    width: 326px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: left;
  }
  .container-for-icon {
    display: flex;
  
    height: 53px;
    width: 333px;
    padding-top: 10px;
    top: 141px;
  }
  .facebook-icon {
    display: flex;
    margin-top: 30px;
    margin-left: 120px;
    height: 18px;
    width: 10px;
  }
  .twitter-icon {
    display: flex;
    margin-left: 40px;
    height: 14px;
    width: 18px;
    margin-top: 31px;
  }
  .in-icon {
    display: flex;
    margin-left: 40px;
    height: 15px;
    width: 16px;
    margin-top: 30px;
  }
  .instagram-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 40px;
    height: 17px;
    width: 17px;
    margin-top: 31px;
  }
    .container-for-footer {
     display: flex;
     width: 1440px;
    }  
    .container-for-text {
        display: flex;
        padding-bottom: 36px;
    }
  
  .text-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 310px;
    margin-left: 325px;
    height: 33px;
    width: 353px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
   
    text-align: center;
  }
  .text-flow {
    display: flex;
   margin-top: 310px;
    height: 33px;
    width: 101px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    
    text-align: center;
    color: #cda274;
  }

  .text-templates {
    display: flex;
    margin-top: 310px;
    height: 33px;
    width: 248px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    
    text-align: center;
    margin-left: 1px;
  }
  .text-web {
    display: flex;
    margin-top: 310px;
    height: 33px;
    width: 87px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
   
    text-align: center;
    color: #cda274;
  }
  




.container {
    width: 1200px;
    margin: 0 auto;
}

.header-con {
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.ol {
    display: flex;
    flex-direction: row;
}

.li {
    width: 125px;

    display: flex;
    justify-content: flex-end;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

    color: #292F36;
}

.li:hover {
    color: #CDA274;
}

/* feedbacks */
.container-feedbacks {
    background: #F4F0EC;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.feedbacks-thinks {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.22px;
    color: #292F36;
    text-align: center;
    padding-top: 100px;
}

.container-feedbacks-cards {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 120px;
}

.feedbacks-card {
    width: 355px;
    padding: 50px 0;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.feedbacks-card-items {
    padding-left: 36px;
}

.feedbacks-card-main {
    display: flex;
}

.feedbacks-card-name {
    font-family: 'DM Serif Display';
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.22px;
    color: #292F36;
}

.feedbacks-card-town {
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.22px;
    color: #4D5053;
}

.feedbacks-card-town,
.feedbacks-card-name {
    margin-left: 20px;
}

.feedbacks-card-coment {
    display: block;
    width: 256px;
    margin-top: 25px;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.22px;
    color: #4D5053;
}

/* footer */
footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-filter {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.22px;
}

footer ul li {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-top: 30px;
}

footer ul li:nth-child(2) {
    margin-top: 21px;
}
.container {
    display: flex;
    width: 1200px;
    align-items: center;
   justify-content: space-between;
   
    
 }

/* service */
.services-section{
    padding-top: 175px;
    padding-bottom: 203px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block-services{
    width: 299px;

    display: flex;
    text-align: center;
    flex-direction: column;
}

.services-title{
    font-family: 'DM Serif Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;

    letter-spacing: 0.22px;
    color: #292F36;
}

.services-text{
    padding-top: 17px;
    padding-bottom: 68px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    letter-spacing: 0.22px;
    color: #4D5053;
}

.services-link{
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 0.36px;
    color: #4D5053;
}

.block-img{
    width: 10px;
}

/* service */
.services-section{
    padding-top: 175px;
    padding-bottom: 203px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block-services{
    width: 299px;

    display: flex;
    text-align: center;
    flex-direction: column;
}

.services-title{
    font-family: 'DM Serif Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;

    letter-spacing: 0.22px;
    color: #292F36;
}

.services-text{
    padding-top: 17px;
    padding-bottom: 68px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    letter-spacing: 0.22px;
    color: #4D5053;
}

.services-link{
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 0.36px;
    color: #4D5053;
}

.block-img{
    width: 10px;
}